<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="#" style="    font-family: cursive;
    font-weight: 600;
    cursor: pointer;
"> Flashcard</a> 

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">  
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="createForm()">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goToFavourite()">Favourite</a>
      </li>
      <!-- Night Mode Toggle Button -->
      <li class="nav-item d-flex align-items-center ms-3">
        <button class="btn btn-sm btn-outline-dark" (click)="toggleTheme()">
          {{ isDarkMode ? 'Light Mode' : 'Night Mode' }}
        </button>
      </li>
    </ul>
  </div>
</nav>
