<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" href="#">
    <!--https://cdn-icons-png.freepik.com/256/3849/3849410.png?semt=ais_hybrid
    https://cdn-icons-png.freepik.com/256/6124/6124066.png
    -->
    <img src="https://play-lh.googleusercontent.com/RZGUOE64sXvT1jcLiwyIoNysvRbnteGGg9UQHdyiVnWKmro5MOB1m6zy8TeRpMksFc4" 
    alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
  </a> 

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">  
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="createForm()">Create </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  (click)="goToFavourite()">Favourite</a>
      </li>
    </ul>
  </div>
</nav>